/* styles/3-header.css */
body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
/* Add other header styles here if needed */